<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Friends of Friends 2022">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="/dist/css/spa/index.css">
        <link rel="stylesheet" href="/dist/css/spa/chat.css">
        <link rel="stylesheet" href="/dist/css/spa/alert.css">
        <link rel="stylesheet" href="/dist/css/spa/game_room.css">
        <link rel="stylesheet" href="/dist/css/spa/games/tictactoe.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <title>FoF22</title>
    </head>
    <body data-id="<%=user_id%>" data-username="<%=username%>" data-name="<%=name%>">
        <div class="top-status">Connected</div>
        <header>
            <nav class="navbar">
                <div class="nav__logo">FoF22</div>
                <div class="nav__list">
                    <a id="nav__link__home" href="/spa" class="nav__link" data-link><div class="nav__alart"><%=unread.home || ''%></div><i class="bx bx-home-alt nav__icon"></i></a>
                    <a id="nav__link__friends" href="/spa/friends" class="nav__link" data-link><div class="nav__alart"><%=unread.friends || ''%></div><i class="bx bx-group nav__icon"></i></i></a>
                    <a id="nav__link__messages" href="/spa/messages" class="nav__link" data-link><div class="nav__alart"><%=unread.messages || ''%></div><i class="bx bx-chat nav__icon"></i></a>
                    <a id="nav__link__notifications" href="/spa/notifications" class="nav__link" data-link><div class="nav__alart"><%=unread.notifications || ''%></div><i class="bx bx-bell nav__icon"></i></a>
                    <a id="nav__link__menu" href="/spa/menu" class="nav__link" data-link><div class="nav__alart"><%=unread.menu || ''%></div><i class="bx bx-cog nav__icon"></i></a>
                </div>
                <div class="nav__img">
                    <img src="/uploads/users/<%=user_id%>/profile.png">
                </div>
            </nav>
        </header>
        
        <div class="model-view">
            <span class="model-close" onclick="history.back();">&times;</span>
            <div class="model-content"></div>
            <div class="model-caption"></div>
            <div class="model-actions">
                <a class="model-download">Download</a>
                <a class="model-full-view">Full View</a>
            </div>
        </div>

        <main id="app"></main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js" integrity="sha512-1Al+dnfE+1gI7IBmpUZ8XnZ3l3Nv6cyA+XgdtlaptVNxJcWWRzHxOPzT+2pbp52qtXa2jkwk0MWYSmxslMsHCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.27.3/humanize-duration.min.js" integrity="sha512-RDaBwBkrx27JSZ1vH3cS93Z5uw56uVSb0ODiqL8FYQk+NaMaJUsPUiYj4heJFLCTFAqBjGZ6jivYdLbwG/AGfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/dist/js/spa/alert.js"></script>
        <script src="/dist/js/spa/script.js"></script>
        <script type="module" src="/dist/js/spa/index.js"></script>
        <% if (eruda) { -%>
            <script src="//cdn.jsdelivr.net/npm/eruda"></script>
            <script>eruda.init();</script>
        <% } -%>
    </body>
</html>
